/* Navbar.css */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #333;
    color: white;
  }
  
  .logo {
    width: 50px; /* Adjust the width as needed */
    height: auto;
    margin-right: 10px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin-right: 20px;
    cursor: pointer;
  }
  
  li:last-child {
    margin-right: 0;
  }
  